body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}


.gray {
  color: #828282;
}


.orange {
  background-color: #ff6600;
}

.background-gray {
  background-color: rgb(246, 246, 239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}


input {
  padding: 0.1em;
  margin-bottom: 0.2em;
  width: 40%;
  min-width: 200px;
  padding: 12px 20px;
  margin: 8px 0px;
  font-size: 1rem;
  text-indent: 10px;
  height: 3rem;
}

input::placeholder{
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}
input:focus{
  border: 2px solid #5cb85c;
  outline: none;
}


.button {
  border: none;
  border-radius: 7px;
  color: black;
  text-align: center;
  padding: 0.7rem 2rem 0.7rem 2rem; 
  cursor: pointer;
  max-width: 250px;
}
.button:focus{
  outline: none
}

.btn-submit{
  font-family:'Titillium Web',Montserrat,sans-serif ;
  color: white;
  background-color: #5cb85c;
}
.btn-submit:hover{
  background-color:green;

}

.button-2:hover{
  background-color: white;
}


.error-input {
  border: 2px solid red;
  border-radius: 4px;
}

.error-text {
  margin: 0.25em 0 0.5em 0;
  padding: 0;
  color: red;
  font-family: Source Sans Pro;
  font-style: bold;
}

.header {
  background-color: #fff;
  white-space: nowrap;
  padding: 0.25rem;
  color: black;
  height: 2rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
}
.logo-container{
  display: flex;
  font-size: 1.4rem;
  align-items: center;
}
.navlinks{
  margin-top: 12px;
  display: flex;
  flex-direction: row;

}

.header-title {
  font-weight: 700;
  margin-left: 0.25rem;
  margin-right: 5px;
  color: #5cb85c;
  margin-top: 12px;
  text-decoration: none;
  font-family: 'Titillium Web',Montserrat,sans-serif;
}


.header-link {
  margin-left: 0.2rem;
  color: gray;
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}
.header-link:hover{
  color: #5cb85c;
}

.header-button {
  margin-left: 0.25rem;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header-name {
  color: black;
  text-decoration: none;
}

.divider {
  margin-left: 0.55rem;
  color: black;
}

.link {
  color: #828282;
  font-weight: 700;
}

textarea {
  margin-top: 0.5em;
  width: 90%;
}

.delete-button {
  color: red;
  cursor: pointer;
}

.app-container {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.route-container {
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vote-button {
  font-size: 11px;
  color: #828282;
  margin-left: 0.25rem;
}

.forgot-password {
  padding: 1em 0;
  color: #5cb85c
}
.reset-container {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
}
.reset-container button{
  margin-top: 5px;
}
.btn-reset-info{
  display: flex;
  align-items: center;
}
.logo {
  width: 20px;
  height: 18px;
  border: 1px solid white;
  margin: 0;
}

.comment-author {
  color: #828282;
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  padding: 0.2rem;
  margin: 0.5rem 0;
  width: 100%;
  margin-bottom: 0.2em;
  max-width: 500px;
}


/* Login */

.login-form{
  margin: 100px auto;
}
.login-form h2{
  font-family: 'Titillium Web',Montserrat,sans-serif;
}

@media screen and (max-width: 1000px) {
  .btn-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .button{
    max-width: 150px;
  }
  .header{
    flex-direction: column;
  }
 
  .header-link{
   font-size: 2px;
  }
  .reset-container{
    align-items: center;
  }
}